html,
header,
div,
.container,
section {
    height: 100%;
}

.view {
    background-image: url("https://cdn.pixabay.com/photo/2016/01/13/01/36/bagan-1137015_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 80vh;
    width: 100%;
    margin-top: 50px;
    background-attachment: fixed;
}

.container {
    margin-top: 6px;
}

.col-md-10 {
    margin-top: 10%;
}

h4 {
    opacity: .4;
}

h6 {
    margin-top: 5%;
}